.article {
  color: var(--shade-3)
}

.article__wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.article__header,
.article__headline,
.article__body > * {
  margin-bottom: calc(12px + (var(--vw) * 4))
}

.article__header + .article__media {
  margin-top: 0;
}

.article__headline {
  font-weight: 300;
  font-size: calc(22px + var(--vw) * 2);
  line-height: 1.2;
  margin-bottom: 2rem;
}

.article__byline {
  display: flex;
  font-size: calc(12px + var(--vw) * 0.4);
  margin-top: -1em;
  color: var(--shade-4)
}

.article__byline > time {
  margin-right: 2em;
}

.article__body > *:not(.article__media) {
  font-size: 0.95rem;
  margin-bottom: 1.75em
}

.article__media {
  max-width: 724px;
  margin: calc(12px + (var(--vw) * 6)) auto;
}

.article__item {
  border-left: 2px solid var(--secondary);
  position: relative;
  margin-bottom: 1rem;
}

.article__item[data-aspect-ratio="16/9"] {
  padding-bottom: calc((9 / 16) * 100%)
}

.article__item-target {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.article__caption {
  font-size: calc(12px + var(--vw) * 0.4);
  text-align: center;
  color: var(--shade-4)

}