.button-group {
  display: flex;
}

.button {
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 1px;
  color: inherit;
  padding: 0.5em 1em;
  border: 1px solid currentColor;
  border-radius: 3px;
  margin: 0 var(--vw);
  white-space: nowrap;
  font-weight: 600
}

.button:first-child {
  margin-left: 0
}

.button:last-child {
  margin-right: 0
}

.button svg {
  fill: currentColor;
  width: 1.4em;
  height: 1.4em;
  margin-right: 0.9em;
  display: inline;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.button--t2 {
  font-size: 13px;
  background-color: var(--primary);
  border: 0;
  color: white;
  padding: 0.5em 1.5em;
}

.button-link {
  letter-spacing: 0.5px;
  color: inherit;
  position: relative;
}

.button-link:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: var(--secondary);
  bottom: -0.05em;
  left: 0;
  transition: width 0.25s
}

.button-link--animate:after {
  width: 10%;
  min-width: 10px
}

.button-link:hover:after {
  width: 100%;
}

.button-link--multiline:after {
  content: none;
}

.button-link--multiline span {
  background-image: linear-gradient(transparent calc(100% - 1px), var(--secondary) 1px);
  background-repeat: no-repeat;
  background-size: 10px 100%;
  transition: background-size 0.25s
}

.button-link--multiline:hover span {
  background-size: 100% 100%
}