.carousel__wrap {
  background: url(../../img/design/img-carousel-bg.svg);
  background-size: cover;
  padding: calc(var(--vw)) 0 calc(var(--vw) * 1.6);
  color: var(--primary)
}

.carousel__nav {
  background: #dbe1ed;
}

.carousel__wrap > .carousel {
  margin-bottom: calc(var(--vw) * 1);
  padding-bottom: calc(var(--vw) * 3);
  border-bottom: 1px solid rgba(0,0,0,0.05)
}

.carousel__rail {
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  padding-bottom: 15px;
  scroll-behavior: smooth;
}

.carousel__rail::-webkit-scrollbar { 
  width: 0 !important
}

.carousel__item--placeholder[class] {
  width: var(--offset);
}

.carousel__item {
  max-width: 580px;
  width: 80vw;
  display: inline-block;
  scroll-snap-align: center;
  padding: 0 calc(var(--vw) * 1.1);
  scroll-behavior: smooth;
  white-space: normal;
}

@supports(scroll-behavior: smooth){
  .carousel__item {
    /* scroll-snap-align: center; */
  }
}

.carousel__item:last-child {
  margin-right: 0;
}

.carousel__dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__dots-item {
  display: block;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center
}

.carousel__dots-item:only-child {
  visibility: hidden;
}

.carousel__dots-item:after {
  content: "";
  display: block;
  background: var(--shade-5);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.carousel__dots-item[data-active="true"]:after {
  background: var(--shade-1)
}