body {
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 calc(19px + (var(--vw) * 2));
}

.wrapper--full-width {
  max-width: 100%
}

.wrapper--narrow[class] {
  max-width: 640px;
} 

.site-body {
  min-height: 60vh;
  padding-top: calc(var(--vw) * 5);
  margin-bottom: calc(var(--vw) * 7)
}

.block {
  margin-bottom: calc(20px + var(--vw) * 3.9)
}