body {
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 calc(16px + (var(--vw) * 2));
}

.wrapper--full-width {
  max-width: 100%
}

.wrapper--narrow[class] {
  max-width: 640px;
}

.wrapper--mid-narrow[class] {
  max-width: 800px;
}

.site-body {
  min-height: 60vh;
  padding-top: calc(var(--vw) * 5);
  margin-bottom: calc(var(--vw) * 7)
}

.site-body--flush {
  padding-top: 0;
}

.site-body--dark,
.site-body--light {
  background: var(--shade-0);
  color: var(--highlight);
  margin: 0;
  padding-bottom: calc(var(--vw) * 5);
}

.site-body--light {
  background: white;
  color: inherit
}

.block[class] {
  margin-bottom: calc(20px + var(--vw) * 3.9)
}