.header {
  height: 10vw;
  min-height: 80px;
  max-height: 100px;
  background-color: var(--primary);
  color: var(--highlight);
  display: flex;
  border-bottom: 2px solid var(--secondary);
}

.header__body {
  display: flex;
}

.header__cell {
  display: flex;
  align-items: center;
}

.header__mobile-nav {
  justify-content: flex-start;
  flex: 2;
}

.header__mobile-nav-button {
  display: inline-block;
  position: relative;
  left: -10px;
}

.header__mobile-login-button {
  display: inline-block;
  position: relative;
  left: 10px;
}

.header__title {
  justify-content: center;
  flex: auto;
}

.header__nav {
  justify-content: flex-end;
  flex: 2;
}

.header__site-logo {
  height: calc(12px + var(--vw) * 1.6);
  width: auto;
  display: block
}

.header__site-logo-link {
  display: block
}

.login-settings .button:hover {
  color: var(--primary);
  background: var(--highlight);
  border-color: currentColor
}

@media all and (max-width: 767px){
  .header {
    margin-bottom: calc(var(--vw) * 6)
  }
}