.header {
  height: 10vw;
  min-height: 80px;
  max-height: 100px;
  background-color: var(--primary);
  color: var(--highlight);
  display: flex;
  border-bottom: 2px solid var(--secondary);
}

.header__body {
  display: flex;
}

.header__cell {
  display: flex;
  align-items: center;
}

.header__mobile-nav {
  justify-content: flex-start;
  flex: 1;
}

.header__mobile-nav-button {
  padding: 10px;
  display: inline-block;
  border: 1px solid red;
  position: relative;
  left: -10px;
}

.header__mobile-nav-button > .icon {
  display: block;
}

.header__title {
  justify-content: center;
  flex: auto;
}

.header__nav {
  justify-content: flex-end;
  flex: 1;
}

.header__site-name {
  text-transform: uppercase;
  font-size: calc(16px + (var(--vw) * 2))
}

@media all and (min-width: 768px){
  .header__mobile-nav-button {
    display: none;
  }
}

@media all and (max-width: 767px){
  .header {
    margin-bottom: calc(var(--vw) * 6)
  }
}