.icon {
  width: calc((var(--vw) * 2) + 19px);
  height: calc((var(--vw) * 2) + 19px);
  position: relative;
  display: inline-block
}

.icon > svg {
  position: absolute;
  width: 100%;
  height: 100%
}