

.join__step-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 1;
  color: inherit;
  padding: calc(1em + var(--vw)) 0.5em;
  white-space: nowrap;
  font-weight: 600;
  color: var(--shade-6);
  border-radius: 5px;
  background: white;
  margin-bottom: calc(4px + var(--vw) * 0.7)
}

/* active */
.join__step[data-active]
.join__step-header {
  background: var(--shade-2);
  color: white
}

.join__step-body {
  margin-bottom: calc(10px + var(--vw));
  text-align: center;
}

.join__step[data-complete]
.join__step-header {
  background: var(--shade-2);
  color: var(--shade-5);
  cursor: pointer
}

.join__step-body {
  background: white;
  border-radius: 5px;
  padding: calc(18px + var(--vw) * 2)
}

.join__step-body > *:not(:last-child) {
  margin-bottom: calc(12px + var(--vw) * 2);
}

.join__step[aria-hidden]
.join__step-body {
  display: none;
}

.join__step-sub-header {
  font-weight: 400;
  font-size: calc(14px + var(--vw) * 0.5);}

.join__step-link {
  font-size: calc(14px);
  display: inline-block
}

.join__step-options {
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid var(--shade-6)
}

.join__step-options-col {
  flex: 1;
  -webkit-appearance: none;
  appearance: none;
  background: white;
  border: 0;
  display: flex;
  flex-direction: column;
  padding: calc(18px + var(--vw));
  align-items: center;
  line-height: 1;
  position: relative;
}

.join__step-options-select {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border: 0;
  cursor: pointer;
  border-radius: 0;
}

.join__step-options-select:focus {
  outline: 0;
}

.join__step-options-select::-ms-check {
  color: rgba(0,0,0,0);
  border: 0;
  background: none;
}

.join__step-options-select:checked {
  background: url(../../img/icons/icon-tick-membership.svg) var(--primary) no-repeat;
  background-position: 10% 50%;
  background-size: 15% auto;
  border-radius: 0
}

.join__step-options-select:checked ~ * {
  color: white;
}

.join__step-options-col:first-child {
  border-right: 1px solid var(--shade-6)
}

.join__step-options-col > span {
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 0.3em;
  position: relative;
  pointer-events: none;
  z-index: 2;
}

.join__step-options-col > strong {
  font-size: calc(22px + var(--vw) * 2);
  font-weight: 500;
  position: relative;
  pointer-events: none;
  z-index: 2
}

.join__step-next-button {
  color: white;
  background: var(--primary);
}

.join__step-next-button[disabled] {
  background: var(--shade-6);
  pointer-events: none;
  cursor: default;
}

.join__form-group {
  border: 0;
  display: block;
  font-size: 14px;
}

.join__form-row {
  text-align: left;
  margin-bottom: calc(16px + var(--vw) * 1.4);
  display: flex;
  flex-direction: column
}

.join__form-row--cols {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap
}

.join__form-row--cols > * {
  flex: 1;
  margin-right: 0.5em
}


.join__form-row:last-child {
  margin-bottom: 12px
}

.join__form-label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: calc(10px + var(--vw) * 0.4);
  color: var(--shade-4);
  font-weight: 600;
  margin-bottom: 0.75em
}

.join__form-label span {
  font-size: 12px;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 400
}

.join__form-input {
  border: 1px solid var(--shade-6);
  border-radius: 4px;
  background: white;
  font-family: inherit;
  font-size: 15px;
  -webkit-appearance: none;
  appearance: none;
  padding: 0.7em 0.8em;
  line-height: 1.3;
  min-width: 70px;
  max-width: 100%;
  vertical-align: middle
}

select.join__form-input {
  background: url(../../img/icons/icon-down-arrow-dark.svg) white no-repeat;
  background-position: right 12px top 50%;
  background-size: auto 35%;
  width: 100%;
}

.join__form-input[disabled]{
  color: white;
  background: var(--shade-6)
}

.join__form[data-validate]
.join__form-input:invalid,
.join__form-input[data-validate]:invalid,
.join__form-input:focus:invalid,
.join__form-input[data-invalid="true"]:not(:valid) {
  border-color: var(--alert);
}

.join__form-input:focus:invalid {
  outline-color: var(--alert);
}

.join__form-validation-message {
  padding-top: 0.75em;
  color: var(--alert);
  display: none;
  width: 100%;
  flex: none
}

.join__form[data-validate]
.join__form-input[data-validate]:invalid ~
.join__form-validation-message,
.join__form-input:invalid ~
.join__form-validation-message:not([aria-hidden="true"]) {
  display: block
}

.join__form-input[type="radio"],
.join__form-input[type="checkbox"] {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  min-width: 0;
  margin-right: 6px;
  position: relative;
  top: -1px;
  padding: 0;
  flex: none;
}

.join__form-input[type="radio"]:checked {
  background: radial-gradient(var(--primary), var(--primary) 35%, transparent 45%, transparent 50%)
}

.join__form-input[type="checkbox"] {
  border-radius: 2px;
  margin-right: 1em
}

.join__form-input[type="checkbox"]:checked {
  background: linear-gradient(var(--primary), var(--primary)) no-repeat;
  background-size: 60% 60%;
  background-position: center;
}

.join__form-input[type="text"],
.join__form-input[type="tel"],
.join__form-input[type="email"] {
  width: 100%;
}

.join__payment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--shade-6);
  padding-bottom: 25%
}

.join__tooltip {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--shade-5);
  color: var(--shade-5);
  border-radius: 50%;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
  font-size: 0.8em;
  font-weight: bold;
}

.join__tooltip:hover:after {
  content: attr(data-title);
  position: absolute;
  background: white;
  font-size: 13px;
  color: var(--shade-2);
  padding: 1em;
  border: 1px solid var(--shade-6);
  right: 0;
  width: 200px;
  max-width: 50vw;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  font-weight: normal;
  box-shadow: 0 0 4px rgba(0,0,0,0.05)
}