* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

html {
  font-size: calc(16px + (var(--vw)/2));
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: var(--shade-1);
  line-height: 1.5;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration-skip: ink;
}

img {
  max-width: 100%;
}