.table-overflow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.table-overflow::-webkit-scrollbar { 
  width: 0 !important;
  display: none;
}

.table {
  border: 0;
  width: 100%;
  border-spacing: 0;
  overflow: hidden;
  position: relative;
  font-size: calc(13px + var(--vw) * 0.3);
  padding: calc(0.2em + var(--vw) * 0.3) calc(0.7em + var(--vw));
  position: relative;
  scroll-snap-align: none;

}

.table th,
.table td {
  text-align: center;
  color: inherit;
  padding: 1.15em calc(0.25rem + var(--vw));
  background: linear-gradient(var(--shade-6) 0, var(--shade-6) 100%) no-repeat;
  background-size: 100% 1px;
  background-position: 0 100%;
  white-space: nowrap;
}

.table tr:last-child td {
  background: 0;
}

.table th {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.77em;
  color: var(--shade-4);
  font-weight: 600;
  background: none
}

.table th {
  position: relative;
}

.table th:first-child:after {
  content: "";
  position: absolute;
  width: 200vw;
  left: -50vw;
  bottom: 0;
  height:1px;
  background:var(--secondary);
}

.table th:first-child,
.table td:first-child {
  padding-left: 0
}

.table th:last-child,
.table td:last-child {
  padding-right: 0
}

.table__col-push-1[class] {
  width: 100%;
  text-align: left
}